{
    "extends": "airbnb",
    "rules": {
        "arrow-parens": [
            "error",
            "always"
        ],
        "import/prefer-default-export": 0,
        "react/jsx-filename-extension": 0,
        "react/destructuring-assignment": 0,
        "react/button-has-type": 0
    },
    "env": {
        "browser": true,
        "jest": true
    }
}
